@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


/* div com aviso pro vercel */
.aviso {
  display: block;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  text-align: center;
  color: white;
  font-size: 4vw;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* fonte da pagina */
html, body {
  font-family: 'Kumbh Sans', sans-serif;
}


/* fazer a navbar vir da esquerda em dispositivos xsmall (mobile) */

@media (max-width: 576px) {
  .navbar-collapse {
    position: absolute;
    top: 0px;
    right: 50%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 50%;
    transition: all 0.4s ease;
    display: block;
    height: 100vh !important;
  }

  .navbar-collapse.collapsing {
    margin-right: 75%;
    right: 25%;
    transition: all 0.2s ease;
  }

  .navbar-collapse.show {
    right: 50%;
  }

  .navbar-collapse-shadow {
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
  }
}

/* linha na parte de baixo da navbar */

.bottom-border {
  position: fixed;
  top: 88px;
  height: 2px;
  background-color: rgb(226, 226, 226);
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* cor dos menus da navbar + ativar linha horizontal no hover */

.nav-link {
  color: hsl(223, 64%, 98%);
}

.nav-link:hover {
  color: hsl(219, 9%, 45%);
}


/* o + significa que ao passar o hover o elemento (orange-horizontal-line) que estiver mais 
proximo do nav-link hoverado recebera as mesmas configurações do nav-link. */
.nav-link:hover+.orange-horizontal-line {
  opacity: 100%;
  transition: all 0.5s ease;
}

.nav-link:active+.orange-horizontal-line {
  opacity: 100%;
  transition: all 0.5s ease;
}

.orange-horizontal-line {
  opacity: 0;
  height: 3px;
  width: 100%;
  background-color: hsl(26, 100%, 55%);
}


@media (min-width: 576px) {
  .container-mdonly {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }

  .font-sm {
    font-size: 0.9em;
  }
}

/* removendo a sombra do botão da navbar e mudando a cor do fundo ao clicar */

.navbar-toggler:focus {
  transition: all 0.4s ease;
  background-color: rgb(209, 209, 209);
  box-shadow: none;
}

/* estilo do icone de avatar */

@media (min-width: 0px) {
  .profile-icon {
    width: 30px;
  }
}

@media (min-width: 576px) {
  .profile-icon {
    width: 40px;
  }
}

.cart {
  width: 20px;
}


/* fonte da navbar menor no sm para responsividade */

@media (min-width: 576px) {
  .font-sm {
    font-size: 0.9em;
  }
}

@media (min-width: 768px) {
  .font-sm {
    font-size: inherit;
  }
}


/* LIGHTBOX */

/* borda das thumbnails */

.border-radius-10 {
  border-radius: 10px;
}

/* borda da imagem principal */

.border-radius-15 {
  border-radius: 15px;
}

/* muda o tamanho da imagem principal fora do modal ao passar o mouse */
.thumb-hover-size {
  transition: 0.3s;
}

.thumb-hover-size:hover {
  filter: opacity(0.5);
}

/* muda a opacidade das thumbnails fora do modal ao passar o mouse */

.thumb-hover-opacity {
  transition: 0.3s;
  filter: brightness(0.8);

}

.thumb-hover-opacity:hover {
  filter: brightness(1);
}

/* muda a opacidade das thumbnails do modal ao passar o mouse */

.thumb-hover-opacity-modal {
  transition: 0.3s;
  filter: brightness(0.5);

}

.thumb-hover-opacity-modal:hover {
  filter: brightness(1);
}

/* borda da thumbnail fora do modal ativa */

.thumb-active-border {
  border: 2px solid hsl(26, 100%, 50%);
  filter: brightness(1);
}

/* borda das thumbnails fora do modal não ativas */

.thumb-demo-border {
  border: 2px solid white;
}

/* DENTRO DO LIGHTBOX */


/* The Modal (background) */
.modal-lightbox {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* botão de fechar o modal do lightbox */
.close-button {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close-button:hover,
.close-button:focus {
  color: hsl(26, 100%, 50%);
  text-decoration: none;
  cursor: pointer;
}

/* esconder todas as imagens dentro do modal por padrão */
.modal-image {
  display: none;
}

/* número do slide (1/3 etc) e texto alt da imagem */
.current-slide-number-text {
  color: #000000;
  font-size: 16px;
  position: absolute;
  bottom: 8px;
  left: 20px;
}

/* botão proximo e anterior do modal */
.prev,
.next {
  transition: 0.6s ease;
  height: 43px;
  line-height: 43px;
  width: 43px;
  font-size: 24px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: rgb(97, 97, 97);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

@media (min-width: 1400px) {

  .prev,
  .next {
    transition: 0.6s ease;
    height: 58px;
    line-height: 58px;
    width: 58px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: rgb(97, 97, 97);
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
  }
}

/* muda a cor da seta ao passar o mouse ou clicar */
.prev:hover,
.next:hover,
.prev:focus,
.next:focus {
  color: hsl(26, 100%, 50%);
}

/* muda a cor da thumb do modal ao passar o mouse */

.thumb-hover-color {
  transition: 0.3s;

}

.thumb-hover-color:hover {
  filter: brightness(0.8);
}

/* sombra no hover das imagens */

.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* botão add to cart */

.btn-add-cart {
  transition: 0.3s ease;
  border-radius: 8px;
  background-color: hsl(26, 100%, 55%);
  color: hsl(223, 64%, 98%);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 hsl(26, 100%, 55%);
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.btn-add-cart:hover,
.btn-add-cart:focus {
  background-color: #cc6415;
  color: hsl(223, 64%, 98%);
}

/* display da qtd */

.display-qtd {
  transition: 0.3s ease;
  background-color: hsl(230, 18%, 93%);
  color: hsl(26, 100%, 50%);
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

/* botão de qtd */

.btn-qtd {
  transition: 0.3s ease;
  background-color: hsl(230, 18%, 93%);
  color: hsl(26, 100%, 50%);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.btn-qtd:hover,
.btn-qtd:focus {
  filter: brightness(0.8);
  color: hsl(26, 100%, 50%);
}

.radius-left {
  border-radius: 5px 0 0 5px;
}

.radius-right {
  border-radius: 0 5px 5px 0;
}


/* botão proximo e anterior da galeria mobile */

/* botão proximo e anterior do modal */
.prev-mobile,
.next-mobile {
  padding-top: 6px;
  position: absolute;
  top: calc(50% - 23px);
  width: 45px;
  height: 45px;
  transition: 0.6s ease;
  font-size: 20px;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: rgb(97, 97, 97);
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

@media (max-width: 400px) {

  .prev-mobile,
  .next-mobile {
    padding-top: 4px;
    position: absolute;
    top: calc(50% - 18px);
    width: 35px;
    height: 35px;
    transition: 0.6s ease;
    font-size: 16px;
    border-radius: 50%;
    background-color: #e0e0e0;
    color: rgb(97, 97, 97);
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
  }
}

.next-mobile {
  right: 0;
}



/* muda a cor da seta ao passar o mouse ou clicar */
.prev-mobile:hover,
.next-mobile:hover,
.prev-mobile:focus,
.next-mobile:focus {
  color: hsl(26, 100%, 50%);
}